{% extends "base.html" %} {% block title %}{{ post.title }}{% endblock %}
{% block content %} {% block extrascripts %}
  <script
    type="text/javascript"
    id="MathJax-script"
    async
    src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js"
  ></script>
{% endblock extrascripts %}

{% load bootstrap5 %}


  <div class="container-fluid p-4">
    <a href="{% url 'blog:post_list' %}" class="btn btn-outline-secondary">Back to Blog</a>

    <h1 class="py-2 text-success">{{ post.title }}</h1>
    <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
    
      {{ post.body|safe|linebreaks }} {% endblock %}
  </div>
  
  
