
{% load bootstrap5 %}

{% if user.is_authenticated %}
	<div class="d-flex flex-column flex-md-row justify-content-evenly align-items-center py-3">
		<h2>Add a new comment</h2>
		<form action="{% url 'blog:post_comment' post.id %}" method="post">
			{% csrf_token %}
			{% bootstrap_form form %}
			<p><input type="submit" value="Add comment" class="btn btn-outline-success"></p>
		</form>
	</div>
{% else %}
	<div class="py-3">
		<h2>Login required</h2>
		<p>You must be <a href="/accounts/login/?next={{ request.path }}">logged in</a> to add a comment.</p>
	</div>
{% endif %}