{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}{{ course.name }} | LLK Analytics Courses{% endblock %}

{% block meta_description %}{{ course.description|truncatewords:30|striptags }} Learn from expert instructor Konrad Kadzielawa. Price: ${{ course.price }}{% endblock %}

{% block meta_keywords %}{{ course.name }}, {{ course.category }}, online course, data science, python, analytics{% endblock %}

{% block og_title %}{{ course.name }} - LLK Analytics{% endblock %}

{% block og_description %}{{ course.description|truncatewords:20|striptags }}{% endblock %}

{% block og_type %}product{% endblock %}

{% block twitter_title %}{{ course.name }}{% endblock %}

{% block twitter_description %}{{ course.description|truncatewords:20|striptags }}{% endblock %}

{% block content %}
<div class="course-detail">
<a href="{% url 'courses:course_list' %}">Courses</a>
</br>
<a href="{{ course.category.get_absolute_url }}">{{ course.category }}</a>
</br>
<img style="width: 100px; height: 100px;" src="{% if course.image %}{{ course.image.url }}{% else %}
{% static "img/sql101.jpg" %}{% endif %}">
<h1>{{ course.name }}</h1>
<h2>

{{ course.category }}
</a>
</h2>
<p class="price">${{ course.price }}</p>
{{ course.description|linebreaks }}
</div>
<form action="{% url "cart:cart_add" course.id %}" method="post">
    {{ cart_course_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">
</form>
{% endblock %}