{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }} - Courses{% else %}Courses | LLK Analytics{% endif %}
{% endblock %}

{% block meta_description %}
{% if category %}
Explore {{ category.name }} courses on data science, analytics, and Python programming. Learn from expert instructor Konrad Kadzielawa.
{% else %}
Browse our collection of data science, analytics, and programming courses. Learn SQL, Python, machine learning, and more from expert Konrad Kadzielawa.
{% endif %}
{% endblock %}

{% block meta_keywords %}online courses, data science training, Python courses, SQL tutorials, machine learning courses, analytics training{% endblock %}

{% block og_title %}{% if category %}{{ category.name }}{% else %}Courses{% endif %} | LLK Analytics{% endblock %}

{% block og_description %}Learn data science, analytics, and programming from expert instructor Konrad Kadzielawa{% endblock %}

{% block content %}
<div id="sidebar">
<h3>Categories</h3>
<ul class="list-group">

<li {% if not category %} {% endif %}>
<a href="{% url "courses:course_list" %}">All</a>
</li> 
{% for c in categories %}
<li {% if category.slug == c.slug %}class="selected"
{% endif %}>
<a href="{{c.get_absolute_url}}">{{ c.name }}</a> 
</li>
{% endfor %} 
</ul>

</div>
 <div id="main" class="course-list">
<h1>{% if category %}{{ category.name }}{% else %}Courses
{% endif %}</h1>
{% for course in courses %}
{{course}}
<div class="item">
<a href="{{ course.get_absolute_url }}">
<img style="width: 100px; height: 100px;" src="{% if course.image %}{{ course.image.url }}{% else %}
{%static "img/sql101.jpg" %}{% endif %}">
</a>
<br>
<a href="{{ course.get_absolute_url }}">{{ course.name }}</a>
<br>
${{ course.price }}
</div>
{% endfor %}
</div> 

<h2><a href="{% url 'cart:cart_detail' %}">Shopping Cart</a></h2>
{% endblock %}